/* Variables */
$backgroundColor: #ffffff;
$borderColor: #dddddd;

$draggingColor: #eeeeee;

$buttonColor: #494949;
$buttonDarkColor: #111;
$buttonDisabledBorderColor: #cccccc;
$buttonDisabledColor: #888888;
$buttonBorderColor: #555;
$buttonDarkBorderColor: #333;
$buttonHoverBackgroundColor: #f2f2f2;

$primaryFontColor: #222222;
$subtitleColor: #555555;

/* Global styles */
* {
  outline: none !important;
}

#root {
  height: 100vh;
}

.isDraggingOver {
  background-color: $draggingColor;
}
.isDragging {
  opacity: 0.7;
  cursor: grabbing;
  cursor: -webkit-grabbing;
}
.isDraggable {
  cursor: grab;
  cursor: -webkit-grab;
}

.BorderlessButton {
  border-radius: 0px;
  border: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $buttonColor;
  }
}
.BorderlessButton:hover i {
  color: $buttonDarkColor;
}
