/* Variables */
$backgroundColor: #ffffff;
$borderColor: #dddddd;

$buttonColor: #494949;
$buttonDarkColor: #111;
// $buttonBorderColor: #cccccc;
$buttonBorderColor: #555;
$buttonDarkBorderColor: #333;
$buttonHoverBackgroundColor: #f2f2f2;

$primaryFontColor: #222222;
$subtitleColor: #555555;

/* Global styles */
* {
  outline: none !important;
}

#root {
  height: 100vh;
}

.BorderlessButton {
  border-radius: 0px;
  border: none;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  i {
    color: $buttonColor;
  }
}
.BorderlessButton:hover i {
  color: $buttonDarkColor;
}
