/* Global styles */
* {
  outline: none !important;
}

/* Variables */
$backgroundColor: #ffffff;
$borderColor: #dddddd;

$buttonColor: #aaaaaa;
$buttonDarkColor: #666666;
$buttonBorderColor: #cccccc;
$buttonDarkBorderColor: #999999;
$buttonHoverBackgroundColor: #e6e6e6;

$subtitleColor: #555;
