@import "./global.scss";

.PlayerPage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.PlayerPage--withSong {
  padding-bottom: 110px;
}

.PlayerPage__title {
  font-size: 28px;
  width: 100%;
  text-align: center;
  padding: 20px 0px 15px 0px;
  margin: 0px;
  background-color: $primaryFontColor;
  color: $backgroundColor;
}
.PlayerPage__content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: start;
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px 20px 10px;
}

.PlayerPage__content__LeftSection {
  flex: 5 1 420px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-width: 0;
  margin-bottom: 20px;
}
.LeftSection__SearchContainer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 900px;
  margin-bottom: 15px;
}

.SearchContainer__input {
  flex: 1 1 80%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid $borderColor;
}
.SearchContainer__button {
  position: absolute;
  right: 1px;
  top: 1px;
  bottom: 2px;
  width: 45px;
  box-shadow: -10px 0px 10px -2px $backgroundColor;
}
.LeftSection__TabContainer {
  width: 100%;
  max-width: 900px;
  margin-top: 15px;
}
.TabContainer__TabContent {
  border: 1px solid $borderColor;
  border-top: none;
}

.PlayerPage__content__Queue {
  flex: 2 1 250px;
}
